{% extends "admin_base.html" %}
{% block content %}
<link href="{{url_for('static', filename='css/crevasse.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!-- dependencies -->
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.caret.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.scrollTo.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/marked.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/rainbow-custom.min.js')}}"></script>
<link href="{{url_for('static', filename='js/solarized-light.css')}}" media="screen" rel="stylesheet" type="text/css" />
	<!-- crevasse js lib -->
<script type="text/javascript" src="{{url_for('static', filename='js/crevasse.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery.filedrop.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/upload_info.js')}}"></script>




<div class='pure-u-1'>
	<form class='pure-form info-edit-form pure-form-stacked' action="" method="post" name="edit">
	{{form.hidden_tag()}}
	<div class='pure-g'>
		<div class='pure-u-1 title_container'>
			<span class='label'>{{ form.title.label }}</span> {{ form.title }}
			<div>
			{% for message in form.title.errors %}
				<span class='errors'>{{message}}</span>
			{% endfor %}
			</div>
		</div>

		<div class='pure-u-1 description_container'>
			<span class='label'>{{ form.description.label }}</span> {{ form.description }}
			<div>
			{% for message in form.description.errors %}
				<span class='errors'>{{message}}</span>
			{% endfor %}
			</div>
		</div>

		<div class='pure-u-1 cover_image_container'>
			<span class='label'><label for="cover_image">Cover Image(Drop on the box below)</label></span>

			<div id='dropboxContainer'>
				{% if g.info.cover_image != None %}
				<img id="dropbox" src="{{g.info.cover_image}}" style='width:100%; height:300px;{% if g.info.cover_color %} background: {{g.info.cover_color}}; {% else %} background: #34495e; {% endif %};'>
			{% else %}
				<img id="dropbox" style='width:100%; height:200px;{% if g.info.cover_color %} background: {{g.info.cover_color}}; {% else %} background: #34495e; {% endif %};'>
			{% endif %}
			</div>
			<input type="text" name="cover_image" value="{{g.info.cover_image}}" placeholder="cover_image" id="cover_image" style="display:none">
			<br>
			<br>
			<input type="button" class='pure-button pure-button-mine'  name="remove" value="Remove Cover Image" id="clear_cover" onclick="clearCover()">
		</div>

		<div class='pure-u-1 cover_color_container'>
			<span class='label'><label for="cover_color">Cover Color</label></span>
			<input type="color" name="cover_color" value="{{g.info.cover_color}}" placeholder="" id="cover_color"><div id="cover_hexcolor" class='hexcolor'></div>  
		</div>


		<div class='pure-u-1 cover_height_container'>
			<span class='label'><label for="cover_height">Cover Height</label></span>
			<input type="number" name="cover_height" value="{{g.info.cover_height}}" placeholder="Enter height of cover" id="cover_height">  
		</div>



		<div class='pure-u-1 header_color_container'>
			<span class='label'><label for="header_color">Header Color</label></span>
			<input type="color" name="header_color" value="{{g.info.header_color}}" placeholder="" id="header_color"><div id="header_hexcolor" class='hexcolor'></div>  
		</div>
		

		<div class='pure-u-1 website_link_container'>
			<span class='label'>{{ form.website_link.label }}</span> {{ form.website_link }}
			<div>
			{% for message in form.website_link.errors %}
				<span class='errors'>{{message}}</span>
			{% endfor %}
			</div>
		</div>
		<div class='pure-u-1 twitter_link_container'>
			<span class='label'>{{ form.twitter_link.label }}</span> {{ form.twitter_link }}
			<div>
			{% for message in form.twitter_link.errors %}
				<span class='errors'>{{message}}</span>
			{% endfor %}
			</div>
		</div>
		<div class='pure-u-1 facebook_link_container'>
			<span class='label'>{{ form.facebook_link.label }}</span> {{ form.facebook_link }}
			<div>
			{% for message in form.facebook_link.errors %}
				<span class='errors'>{{message}}</span>
			{% endfor %}
			</div>
		</div>

		


		<div class='pure-u-1 admin-fixed-bottom-bar'>
			<input class='pure-button pure-button-success' type="submit" name="submit" value="Update">
		</div>
	</div>
		
	</form>
</div>

<script type="text/javascript">


	$(function(){
		//Color
			var header_color 	 = $('#header_color').val();
			var cover_color 	 = $('#cover_color').val();
			
			header_hexcolor = $('#header_hexcolor');
			cover_hexcolor = $('#cover_hexcolor');

			header_hexcolor.html(header_color);
			cover_hexcolor.html(cover_color);

			$('#header_color').on('change', function() {
				header_hexcolor.html(this.value);
			});
			$('#cover_color').on('change', function() {
				cover_hexcolor.html(this.value);
				$('#dropbox').css('background-color', this.value);
			});
	});
	
	function clearCover() {
		document.getElementById("cover_image").value=""
		document.getElementById("dropbox").src=""
	}
</script>

{% endblock %}