{% extends "admin_base.html" %}
{% block content %}
<div class='pure-u-1 admin-post-container'>
	<a class='pure-button pure-button-success create-button' href="{{ url_for('create_new_post')}}">Create New Post</a>
	{% for post in posts %}
	<div class='pure-g-r admin-post-list'>
		<div class='pure-u-1 admin-post-list-item'>
			<a class='icon-pencil icons' href="{{ url_for('edit_post', post_slug = post.title) }}"></a>
			<a class='icon-remove icons' href="{{ url_for('delete_post', post_slug = post.title) }}"></a>
			<a href="{{ url_for('edit_post', post_slug = post.title) }}"><h3 class='post-title'>{{post.title}}</h3></a>
			<h4 class='pub-date'>{{post.publish_date}}</h4>
		</div>	
	</div>
	{% endfor %}
</div>
{% endblock %}