{% extends "admin_base.html" %}
{% block content %}



<div class='pure-u-1'>
	<form class='pure-form post-edit-form' action="" method="post" name="edit">
	{{form.hidden_tag()}}
	<div class='pure-g'>
		<div class='pure-u-1 title_container'>
			<span class='label'>{{ form.title.label }}</span> {{ form.title }}
			<div>
			{% for message in form.title.errors %}
				<span class='errors'>{{message}}</span>
			{% endfor %}
			</div>
		</div>

		<div class='pure-u-1 tag_container'>
			<span class='label'>{{ form.tags.label }}</span> {{ form.tags }}
			<div>
			{% for message in form.tags.errors %}
				<span class='errors'>{{message}}</span>
			{% endfor %}
			</div>
		</div>
		

		<div class='pure-u-1-2 headings'>
			<h4>Enter markdown here:</h4>
		</div>
		<div class='pure-u-1-2 headings'>
			<h4>Live Preview:</h4>
		</div>
		<div class='pure-u-1-2 editor_container'>
			{{form.content}}
		</div>
		<div class="pure-u-1-2 previewer_container">
			<div id="the_previewer"></div>
		</div>

		<div class='pure-u-1 admin-fixed-bottom-bar'>
			<input class='pure-button pure-button-warning' type="submit" name="submit" value="Publish">
			<input class='pure-button pure-button-success' type="submit" name="submit" value="Save Draft">
		</div>
	</div>
		
	</form>
</div>


<script type="text/javascript">

	function getCursor(textarea) {
	    return textarea.value.substr(0, textarea.selectionStart).length;
	}
</script>



<link href="{{url_for('static', filename='css/crevasse.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!-- dependencies -->
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.caret.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.scrollTo.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/marked.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/rainbow-custom.min.js')}}"></script>
<link href="{{url_for('static', filename='css/solarized-light.css')}}" media="screen" rel="stylesheet" type="text/css" />
	<!-- crevasse js lib -->
<script type="text/javascript" src="{{url_for('static', filename='js/crevasse.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery.filedrop.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/upload.js')}}"></script>

<script type="text/javascript">
	$(function () {
		$("#content").crevasse({
			previewer: $("#the_previewer"),
			editorStyle: "github",
			previewerStyle: "github"
		});
	});

</script>


{% endblock %}