<!-- extends base.html -->
{% extends "admin_base.html" %}

{% block content %}
    <div class='pure-u login-form-container'>
        {% if form %}
        <form action="" method="post" name="login" class='pure-form pure-form-stacked login-form'>
            <fieldset>
                <legend>Sign In</legend>
                {{form.hidden_tag()}}
                {{form.email.label}} {{form.email}}
                {% for message in form.email.errors %}
                    <span class='errors'>{{message}}</span>
                {% endfor %}
                <br>
                {{form.password.label}} {{form.password}}
                {% for message in form.password.errors %}
                    <span class='errors'>{{message}}</span>
                {% endfor %}
                <br>
                <button type="submit" class='pure-button pure-button-success'>Login</button>
            </fieldset>
        </form>
        {% endif %}
        <h1>{{message}}</h1>
    </div>

{% endblock %}